<template lang="pug">
  section.hero.is-success
    .hero-head
      nav.navbar
        .container
          .navbar-brand
            .navbar-item PLATZIMUSIC
          .navbar-menu
            a.navbar-item(@click="selectLang('en')") Ingles
            a.navbar-item(@click="selectLang('es')") Español
            router-link.navbar-item(to="/") {{ $t('search') }}
            router-link.navbar-item(to="about") {{ $t('about') }}
    .hero-body
      .container.has-text-center
        h1.title PlatziMusic
        h2.subtitle Canciones que estan buenisimas
        pm-player
</template>

<script>
import PmPlayer from '@/components/Player.vue'
export default {
  components: {
    PmPlayer
  },
  methods: {
    selectLang (lang) {
      this.$i18n.locale = lang
    }
  }
}
</script>
