<template lang="pug">
  .card(v-if="track && track.album")
    .card-image
      figure.image.is-1by1
        img(v-bind:src="track.album.images[0].url")
    .card-content
      .media
        .media-left
          figure.image.is-48x48
            img(v-bind:src="track.album.images[2].url")
        .media-content
          p.title.is-6 {{track.name}}
          p.subtitle.is-6 {{track.artists[0].name}}
      .content
        small {{track.duration_ms | ms-to-mm}}
        nav.level
          .level-left
            button.level-item.button.is-primary
              span.is-smalls(@click="selectTrack") Play
            button.level-item.button.is-warning
              span.is-smalls(@click="goToTrack(track.id)") Go
</template>

<script>
import trackMixin from '@/mixins/track'
export default {
  mixins: [trackMixin],
  props: {
    track: {
      type: Object,
      required: true
    }
  },
  methods: {
    goToTrack (id) {
      if (!this.track.preview_url) { return }
      this.$router.push({ name: 'track', params: { id } })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
